@import url("general.css");
@import url("header.css");
@import url("menu-bar.css");
@import url("calendar.css");
@import url("main-content.css");

@import url("MediaQueries.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light-light-grey: #aeaeb4;
  --light-grey: #83838b;
  --semi-light-grey: #2e2e33;
  --semi-mid-grey: #242429;
  --mid-grey: #202024;
  --grey: #1a1a1e;
  --dark-grey: #121214;
  --light-blue: #4b8bd9;
  --blue: #5865f2;
  --dark-blue: #4654c0;

  --atvd: rgb(176, 255, 72);
  --atvd-2: rgb(176, 255, 72, 0.6);
  --trab: rgb(236, 198, 26);
  --trab-2: rgb(236, 198, 26, 0.6);
  --teste: rgb(236, 127, 26);
  --teste-2: rgb(236, 127, 26, 0.6);
  --prova: rgb(236, 33, 26);
  --prova-2: rgb(236, 33, 26, 0.6);
  --pts: #29e0a9;
  --pts-2: rgba(41, 224, 169, 0.6);

  --Inter: "Inter";
  --Jakarta: "Plus Jakarta";
}

.splide {
  padding: 2rem;
  background: var(--secondary-color);

  /* &::after{
    content: "";
    width: 100%;
    height: 10px;
    background-color: var(--semi-light-grey);
    bottom: 10px;
    display: flex;
  } */
}

.splide__slide {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  /* width: 100% !important; */
}

.closed {
  display: none;
}

.concluido {
  opacity: 0.3;
  pointer-events: none;
}