@import url("general.css");
@import url("menu-bar.css");
@import url("main-content.css");
@import url("calendar.css");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --light-light-grey: #aeaeb4;
  --light-grey: #83838b;
  --semi-light-grey: #2e2e33;
  --semi-mid-grey: #242429;
  --mid-grey: #202024;
  --grey: #1a1a1e;
  --dark-grey: #121214;
  --light-blue: #4b8bd9;
  --blue: #5865f2;
  --dark-blue: #4654c0;

  --atvd: rgb(176, 255, 72);
  --trab: rgb(236, 198, 26);
  --teste: rgb(236, 127, 26);
  --prova: rgb(236, 33, 26);

  --Inter: "Inter";
  --Jakarta: "Plus Jakarta";
}


p,
span,
a {
  font-family: var(--Inter);
  font-weight: 400;
}

h1,
h2,
h3 {
  font-family: var(--Jakarta);
  font-weight: 400;
  color: white;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
p,
span {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.2rem;
  font-family: var(--Jakarta);
}

.splide {
  padding: 2rem;
  background: var(--secondary-color);
}

.splide__slide {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}
