main {
  overflow-y: scroll;
  flex: 5 ;
  z-index: 1;
  display: flex;
  flex-flow: column;
  gap: 1rem;
  

  background: var(--dark-grey);
  align-items: left;
  padding-bottom: 10rem;
  scrollbar-gutter: stable;
  box-shadow: inset 1px 0 0 var(--semi-light-grey);

  h2 {
    background-color: var(--mid-grey);
    padding: 0.6rem 1.2rem;
    border-radius: 0.4rem;
    width: fit-content;
  }

  h3 {
    padding: 0.5rem 0.8rem 0.5rem 0;
    background-color: none;
    border-radius: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-thumb {
    padding-right: 3px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: var(--light-grey);
  }

  .main-content{
    display: flex;
    flex-flow: column;
  }
  .last-update {
    width: 100%;
    color: white;
    background: linear-gradient(to left, var(--light-blue), var(--dark-blue));
    padding: 10px;
    text-align: center;
  }
}



.card {
  background-color: var(--grey);

  display: flex;
  align-items: center;
  gap: 1.6rem;
  max-width: 130rem;
  width: 100%;

  border-radius: 0.4rem;
  padding-left: 2rem;
  padding-right: 1.2rem;
  color: white;
  border: 1px solid var(--semi-light-grey);
  font-family: var(--Inter);
  
  cursor: pointer;
  transition: filter 0.3s;
  &:hover {
    filter: brightness(1.2);
  }
}
.border-trab {
  box-shadow: inset 4px 0 0 var(--trab);
}
.border-atvd {
  box-shadow: inset 4px 0 0 var(--atvd);
}
.border-teste {
  box-shadow: inset 4px 0 0 var(--teste);
}
.border-prova {
  box-shadow: inset 4px 0 0 var(--prova);
}

.date {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 7.6rem;

  strong {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.8rem;
  }
  span {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
  }
}

.content {
  position: relative;

  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 0.4rem;
  padding: 2rem 0 2rem 1.2rem;
  line-height: 2.4rem;

  .card-title {
    h4 {
      font-size: 1.8rem;
      font-family: var(--Jakarta);
      line-height: 2.7rem;
    }
  }

  .card-desc {
    display: flex;
    flex-flow: column;
    gap: 0.8rem;

    .tag-container {
      display: flex;
      gap: 0.5rem;
    }
    .tag {
      display: flex;
      gap: 0.8rem;
      justify-content: center;
      align-items: center;
      padding: 0.2rem 1rem;
      width: fit-content;
      height: fit-content;

      border-radius: 4rem;

      span {
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
      }
      svg {
        height: 1rem;
        width: 1rem;
      }
    }

    .tag-trab {
      border: 2px solid var(--trab-2);
      svg path {
        fill: var(--trab-2);
      }
    }
    .tag-atvd {
      border: 2px solid var(--atvd-2);
      svg path {
        fill: var(--atvd-2);
      }
    }
    .tag-teste {
      border: 2px solid var(--teste-2);
      svg path {
        fill: var(--teste-2);
      }
    }
    .tag-prova {
      border: 2px solid var(--prova-2);
      svg path {
        fill: var(--prova-2);
      }
    }
    .tag-points {
      border: 2px solid var(--pts-2);
      svg path {
        fill: var(--trab-2);
      }
      span {
        color: var(--pts);
      }
    }
  }
  span,
  p {
    font-size: 1.2rem;
    font-size: 1.2rem;
    color: var(--light-grey);
    line-height: 1.6rem;
  }

  &::before {
    content: "";
    width: 1px;
    background-color: var(--semi-light-grey);
    height: calc(100% - 2.5rem);
    left: 0;
    position: absolute;
  }
}

.btn-cards {
  display: flex;
  padding: 1rem;
  border-style: none;
  height: fit-content;
  width: fit-content;
  color: rgb(196, 196, 204);
  background-color: transparent;
  cursor: pointer;
  margin-left: auto;
  svg {
    width: 2rem;
    height: 2rem;
  }

  &:hover {
    background-color: #29292e;
  }
}

.hr {
  width: 100%;
  align-self: center;
  height: 1px;
  background-color: var(--semi-light-grey);
  color: transparent;
}
