.main-content {
  overflow: scroll;
  min-width: 50rem;
  z-index: 1;
  display: flex;
  flex-flow: column;
  gap: 1rem;

  background: var(--dark-grey);
  align-items: left;
  padding-bottom: 10rem;
  scrollbar-gutter: stable;
  box-shadow: inset 1px 0 0 var(--semi-light-grey);
  h3 {
    padding: 0.5rem 0.8rem 0.5rem 0;
    background-color: none;
    border-radius: 0.3rem;
  }
}
.border-atvd, .border-prova, .border-teste, .border-trab {
  border: 1px solid var(--semi-light-grey);
}

.border-atvd {
  border-left: 3px solid var(--atvd);
}
.color-atvd {
  color: var(--atvd);
}

.color-trab {
  color: var(--trab);
}
.border-trab {
  border-left: 3px solid var(--trab);
}

.color-teste {
  color: var(--teste);
}
.border-teste {
  border-left: 3px solid var(--teste);
}

.color-prova {
  color: var(--prova);
}
.border-prova {
  border-left: 3px solid var(--prova);
}

.task-card {
  background: var(--semi-mid-grey);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  max-width: 70rem;
  border-radius: 8px;
  box-shadow: .4rem .4rem .7rem rgba(0, 0, 0, 0.25);
  gap: 4rem;

  transition:filter 0.2s;

  &:hover{
    cursor: pointer;
    filter: brightness(1.2);
  }

  .task-info {
    flex: 1;
  }
  .task-title {
    font-size: 1.8rem;
    font-weight: bold;
    background: none;
    color: white;
  }
  .task-desc {
    margin: 5px 0;
    font-size: 14px;
    color: var(--light-light-grey);
  }
  .task-details {
    display: flex;
    flex-flow: column;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
  }
  .task-box {
    background: var(--semi-light-grey);
    padding: 3px 8px;
    border-radius: 5px;
    margin: 3px 0;
    width: fit-content;
  }

  .task-subject {
    color: var(--light-blue);
  }

  .task-points {
    color: #28a745;
  }
}
