@media screen and (max-width: 1000px) {
  section.general {
    display: flex;
    flex-flow: column !important;
  }

  html {
    overflow-y: visible;
  }
  main {
    overflow: visible;
    order: 3;
  }

  .menu-sidebar {
    order: 1;
    flex-flow: row;
  }
  .task-card {
    min-width: 100%;
  }
  .trimestres a {
    display: none;
  }

  /* week section */
  .week {
    overflow-y: visible;
    order: 2;
    flex-flow: column;
    gap: 1rem;
    padding: 1rem .5rem;

    .week-content {
      display: flex;
      flex-flow: row;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      .week-table-container {
        h5 {
          font-size: 1.2rem;
        }
        .w-subjects {
          p.td {
            text-wrap: none;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
}
