@media screen and (max-width: 1000px) {
  section.general {
    display: flex;
    flex-flow: column !important;
  }

  html {
    overflow-y: visible;
  }
  main {
    overflow: visible;
    order: 3;
  }
  .toggle-btn-calendar {
    position: fixed;
    right: 0;
    top: 8rem;
  }

  .recentes {
    order: 2;

    .closed {
      display: block;
    }
    .desktop-recentes-container{
      display: none;
    }
  }

  .calendar {
    position: fixed;
    right: 0;
    top: 0;
  }

  .menu-sidebar {
    order: 1;
    flex-flow: row;
  }
  .task-card {
    min-width: 100%;
  }
  .trimestres a {
    display: none;
  }
}

@media screen and (max-width: 550px) {
}
