@media screen and (max-width: 1000px) {
  .calendar,
  .recentes, .toggle-btn-calendar {
    /* display: none; */
  }
  section.general {
    display: flex;
    flex-flow: column !important;
  }
  .menu-sidebar {
   flex-flow: row;
  }
}

@media screen and (max-width: 550px) {
  .task-card {
    min-width: none;
  }
};

