.menu-sidebar {
  min-width: 19rem;
  padding: 1.2rem;
  background: var(--dark-grey);
  color: white;

  display: flex;
  flex-flow: column;
  gap: 0.8rem;

  font-family: var(--Inter);
  font-size: 1.4rem;

  h2 {
    padding: 2rem 0 0 2rem;
  }

  a {
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3.6rem;
    padding: 0 0.8rem;
    font-size: 1.4rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--mid-grey);

    }

    svg {
      width: 18px;
      height: 18px;
    }
    span {
      color: var(--light-grey);
    }
  }
}

.selected-menu {
  background-color: var(--mid-grey);
  svg {
    path {
      fill: var(--blue);
    }
  }
  span {
    color: rgb(225 225 230) !important;
  }
}
