.menu-sidebar {
  min-width: 20rem;

  background: var(--dark-grey);
  color: white;

  display: flex;
  flex-flow: column;
  gap: 2rem;

  font-size: 1.8rem ;
  font-weight: 700;
  text-transform: uppercase;

h2 {
  padding: 2rem 0 0 2rem;
}

  a {
  padding: 0 2rem;
  }
}