* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --light-light-grey: #aeaeb4;
  --light-grey: #83838b;
  --semi-light-grey: #2e2e33;
  --semi-mid-grey: #242429;
  --mid-grey: #202024;
  --grey: #1a1a1e;
  --dark-grey: #121214;
  --light-blue: #4b8bd9;
  --blue: #5865f2;
  --dark-blue: #4654c0;

  --atvd: rgb(176, 255, 72);
  --trab: rgb(236, 198, 26);
  --trab-2: rgb(236, 198, 26, 0.6);
  --teste: rgb(236, 127, 26);
  --prova: rgb(236, 33, 26);
  --pts: #29e0a9;
  --pts-2: rgba(41, 224, 169, 0.6);

  --Inter: "Inter";
  --Jakarta: "Plus Jakarta";
}

body {
  background-color: var(--dark-grey);
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.card {
  background-color: var(--mid-grey);

  display: flex;
  align-items: center;
  gap: 1.6rem;
  max-width: 91rem;

  border-radius: 0.4rem;
  padding-left: 2rem;
  padding-right: 1.2rem;
  color: white;
  border: 1px solid var(--semi-light-grey);
  box-shadow: inset 4px 0 0 var(--trab);

  font-family: var(--Inter);
}

.date {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 7.6rem;

  strong {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.8rem;
  }
  span {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
  }
}

.content {
  position: relative;

  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 0.4rem;
  padding: 2rem 0 2rem 1.2rem;
  line-height: 2.4rem;

  .card-title {
    h4 {
      font-size: 1.8rem;
      font-family: var(--Jakarta);
      line-height: 2.7rem;
    }
  }

  .card-desc {
    display: flex;
    flex-flow: column;
    gap: 0.8rem;

    .tag-container {
      display: flex;
      gap: 0.5rem;
    }
    .tag {
      display: flex;
      gap: 0.8rem;
      justify-content: center;
      align-items: center;
      padding: 0.2rem 1rem;
      width: fit-content;
      height: fit-content;

      border-radius: 4rem;

      span {
        font-size: 1rem;
        line-height: 1.6rem;
        font-weight: 500;
        color: white;
        text-transform: uppercase;
      }
      svg {
        height: 1em;
        width: 1em;
      }
    }

    .tag-trab {
      border: 2px solid var(--trab-2);
      svg path {
        fill: var(--trab-2);
      }
    }
    .tag-points {
      border: 2px solid var(--pts-2);
      svg path {
        fill: var(--trab-2);
      }
      span {
        color: var(--pts);
      }
    }
  }
  span,
  p {
    font-size: 1.2rem;
    font-size: 1.2rem;
    color: var(--light-grey);
    line-height: 1.6rem;
  }

  &::before {
    content: "";
    width: 1px;
    background-color: var(--semi-light-grey);
    height: calc(100% - 2.5rem);
    left: 0;
    position: absolute;
  }
}

.btn-cards {
  display: flex;
  padding: 1rem;
  border-style: none;
  height: fit-content;
  width: fit-content;
  color: rgb(196, 196, 204);
  background-color: transparent;
  cursor: pointer;
  svg {
    width: 2rem;
    height: 2rem;
  }
}
