.week {
  display: flex;
  flex-flow: column;
  flex: 1;
  align-items: center;
  padding: 2rem;
  padding-bottom: 10rem;
  background: var(--semi-mid-grey);
  color: white;
  box-shadow: inset 1px 0 0 var(--semi-light-grey);

  position: relative;
  h2 {
    font-weight: 400;
    text-transform: capitalize;
    font-size: 2rem;
  }

  /* &::after {
    position: absolute;
    content: "Novo!";
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0.5rem;
    padding: 0.2rem 0.6rem;
    top: 10px;
    left: 10px;
    background: var(--teste);
    background: var(--grad-2);
    transform: rotate(-7deg);
    transition: transform 0.4s ease;
    animation: highlightRotation 1.5s ease-in-out infinite;
    z-index: 999;
  } */
}

.week-content {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 2rem;
  .week-table-container {
    width: 100%;
    border-radius: 0.3rem;
    display: flex;
    flex-flow: column;

    h5 {
      font-weight: 600;
      font-family: var(--Jakarta);
      text-transform: uppercase;
      text-align: center;
      border-radius: 0.3rem 0.3rem 0 0;
      border: 1px solid var(--semi-light-grey);
      border-bottom: 0;
      padding: 0.5rem 1rem;
      background-color: var(--dark-blue);
      color: white;
    }
    .w-tarde {
      margin-top: 1rem;
      width: 100%;
      p.td {
        width: 100%;
      }
    }

    .w-subjects {
      display: flex;
      flex-flow: column;
      p.td {
        border: 1px solid var(--semi-light-grey);
        border-bottom: 0;
        padding: 0.5rem 1rem;
        font-weight: 500;
        font-family: var(--Inter);
        font-size: 1.4rem;
        text-align: center;
        color: white;
        background-color: var(--dark-grey);
      }
      :last-child {
        border-radius: 0 0 0.3rem 0rem;
        border-bottom: 1px solid var(--semi-light-grey) !important;
      }
    }
  }
}
